<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <span class="fs-4 font-bolder">Admin Pannel</span>
      </a>

      <ul class="nav nav-pills">

        <li class="nav-item"><a routerLink="/admindashboard" class="nav-link" aria-current="page">Dashboard</a></li>

        
      <li class="nav-item">
        <div class="dropdown">
          <a class="nav-link">Teacher</a>
          <div class="dropdown-options">
            <a routerLink="/addteachers">Add&nbsp;Teacher</a>
            <a routerLink="/viewteachers">View&nbsp;Teachers</a>
          </div>
        </div>
    </li>

      <li class="nav-item">
        <div class="dropdown">
          <a class="nav-link">School</a>
          <div class="dropdown-options">
            <a routerLink="/addschool">Add&nbsp;School</a>
            <a routerLink="/viewschool">View&nbsp;School</a>
          </div>
        </div>
    </li>

    
    <li class="nav-item">
      <div class="dropdown">
        <a class="nav-link">Board</a>
        <div class="dropdown-options">
          <a routerLink="/addboard">Add&nbsp;Board</a>
          <a routerLink="/viewboard">View&nbsp;Board</a>
        </div>
      </div>
  </li>

        <li class="nav-item"><a routerLink="/home" class="nav-link">Sign Out</a></li>
      </ul>
    </header>
  </div>