<app-dashboardheader ></app-dashboardheader>

<main class="body-img">
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light font-bold">Question Bundles</h1>
          <p class="lead text-body-secondary">Choose your subject wise question paper, and start your exam.<br>
        </p>
        </div>
      </div>
    </section>
  
    <div class="album py-5 bg-body-tertiary">
      <div class="container">
        <!-- //here -->
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div *ngFor="let questionSet of questionSets" class="col">
            <div class="card shadow-sm">
              <!-- You can customize the card structure based on your design -->
              <div class="card-body">
                <p class="card-text">

                  {{questionSet.setname}}<br>

                  Subject: {{ questionSet.subject }}<br>
                  Class: {{ questionSet.cls }}<br>
                  Question Year: {{ questionSet.year }}
                </p>
        
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a [routerLink]="['/welcome']" [queryParams]="{ studentId: studentDetails?.id, qSetId: questionSet.qsetId, studentName: studentDetails?.name, setname:questionSet.setname}">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Start Exam</button>
                    </a>
                  </div>
                 
                  <small class="text-body-secondary">Timing: {{ questionSet.time }}min</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>

<app-dashboardfooter></app-dashboardfooter>