<nav class="navbar border-bottom border-body">
    <div class="container-fluid">
      <a class="navbar-brand mr-px">
        <img src="/assets/images/logo.jpg" height="60px" width="60px">
            <span class="logoFont">Exam Arena</span>
        </a>
        <form class="d-flex" role="search" action="https://www.google.com/search" method="GET">
          <input class="form-control me-2" type="search" placeholder="Search anything..." aria-label="Search" name="q">
        <button class="btn btn-outline-success me-2 " type="submit">Search</button>
      <button class="btn btn-outline-success" type="submit">Login</button>
      </form>
    </div>
  </nav>