<nav class="navbar border-bottom border-body">
    <div class="container-fluid">
      <a routerLink="/home"  class="navbar-brand mr-px">
        <img src="/assets/images/logo.jpg" height="60px" width="60px">
            <span class="logoFont">Exam Arena</span>
        </a>
        <form class="d-flex" role="search" style="display: flex; align-items: center;">
          <div class="gcse-search"></div>
      <a routerLink="/login" style="text-decoration: none;"><button class="btn btn-outline-success" type="submit">Login</button></a>
      </form>
    </div>
  </nav>