<app-teacher-header></app-teacher-header>

<div class="container">
    <div class="signup-container">
 
      <!-- Popup message div -->
 <div class="popup-overlay" *ngIf="showPopup">
  <div class="popup-content">
      <p>{{ popupMessage }}</p>
      <button (click)="hidePopup()">Close</button>
  </div>
</div>

<div class="container-fluid py-4">
    <div class="row">
    <div class="col-12">
    <div class="card my-4">
    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
    <h6 class="text-dark text-capitalize ps-2">Question Set Table</h6>
    </div>
    </div>
    <div class="card-body px-0 pb-4">
    <div class="table-responsive p-0">
    <table class="table align-items-center mb-0">
    <thead>
    <tr>
    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Question Set Name</th>
    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">No. of Questions</th>
    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Class</th>
    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Subject</th>
    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Year</th>
    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Time Duration</th>
    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 pl-2">Questions</th>
    
    </tr>
    </thead>

    <tbody *ngFor="let question of questionList">
        <tr *ngIf="teacherDetails?.subject === question.subject && teacherDetails?.tid === question.teacher?.tid">
          <td>{{ question.setname }}</td>
          <td class="align-middle text-center text-sm">{{ question.questions?.length || 0}}</td>
          <td class="align-middle text-center text-sm">{{ question.cls }}</td>
          <td class="align-middle text-center text-sm">
            <h6 class="mb-0 text-sm">{{ question.subject }}</h6>
          </td>
          <td class="align-middle text-center">
            <span class="text-secondary text-xs font-weight-bold">{{ question.year }}</span>
          </td>
          <td class="align-middle text-center">
            <span class="text-secondary text-xs font-weight-bold">{{ question.time }} min</span>
          </td>
          <td class="align-middle">
            <button type="button" class="btn btn-success" (click)="addQuestionSet(question.qsetId)" >
                Add 
              </button>
              &nbsp;
              <button type="button" class="btn btn-warning" (click)="viewQuestions(question.qsetId)" >
                View 
              </button>
              &nbsp;
              <button type="button" class="btn btn-danger" (click)="deleteQuestion(question.qsetId)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>


    </table>
    </div>
    </div>
    </div>
    </div>
    </div>
</div>

</div>
</div>

<app-teacher-footer></app-teacher-footer>