.signup-container {
    background-image: url('/assets/images/question.jpg' );
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: auto;
  }
   
  .signup-form {
    background-color: rgba(146, 142, 139, 0.377);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-weight: 500;
    max-width: 400px;
    width: 100%;
  }
  
  .form-group {
    margin-bottom: 0px;
  }
  
  label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
  }
  
  input,
  select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-style: groove;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #1d8b23;
  }
  #redirect_to_Login{
    margin-top: 7px;
  }
  