<app-adminheader></app-adminheader>

<div class="container">
    <div class="signup-container">

        <div class="signup-form">
            <h2>Add Questions</h2>
            
            <!-- Set Name -->
            <div class="form-group">
              <label for="class">Question?</label>
              <input type="text" id="setname" placeholder="Enter Question"/>
            </div>
    
            <!-- Option - 1 -->
            <div class="form-group">
              <label for="option1">Option : 1</label>
              <input type="text" id="option1" placeholder="Enter option1"/>
            </div>
        
            <!-- Option - 2 -->
            <div class="form-group" >
              <label for="option2">Option : 2</label>
              <input type="text" id="option2" placeholder="Enter option2" />
            </div>
        
            <!-- Option - 3 -->
            <div class="form-group">
              <label for="option3">Option : 3</label>
              <input type="text" id="option3" placeholder="Enter option3" />
            </div>
        
            <!-- Option - 4 -->
            <div class="form-group">
              <label for="option4">Option : 4</label>
              <input type="text" id="option4" placeholder="Enter option4" />
            </div>

            <!-- Answer -->
            <div class="form-group">
                <label for="answer">Correct Answer</label>
                <input type="text" id="answer" placeholder="Enter correct answer" />
              </div>
        
            <!-- Submit Button -->
            <button type="button" >Add Question</button>
            
            <!-- <p id="errorText" style="color: green;">{{ successMessage }}</p>
            <p id="errorText" style="color: red;">{{ errorMessage }}</p> -->

          </div>

</div>
</div>


<app-adminfooter></app-adminfooter>