<app-header></app-header>
<div class="container p-4">
    <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 text-bg-dark rounded-3" id="contact-img">
        
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 contact-form-container border rounded-3">
        
        <main class="form-signin w-100 m-auto">
            <form >
              <h1 class="h2 mb-3 fw-Bold">Contact Us</h1>

              <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Full Name</label>
              </div>
              <div class="form-floating mt-2">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email</label>
              </div>
              <div class="form-floating mt-2">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Message</label>
              </div>
              <button class="btn btn-primary w-100 mt-3 py-3" type="submit">Send Message</button>
              <p class="mt-5 mb-3 text-body-secondary">© 2017–2023</p>
            </form>
          </main>

      </div>
    </div>

  </div>
</div>
<app-footer></app-footer>