<app-header></app-header>
<div class="p-5 mb-4 bg-body-tertiary rounded-3" id="body-img">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">PREPARING FOR YOUR EXAM!</h1>
    <p class="col-md-8 fs-5">
    Feeling a mix of excitement and nerves as the exam day approaches?<br>
    It's natural! To make the most of your study sessions, start by creating a detailed study plan.<br> 
    Break down your topics into manageable chunks, allowing you to focus and master each one. 
    stay positive and believe in your preparation!<br><br>
    Enroll today to access valuable study resources and expert guidance. You've got this! Best of luck on your exam!
  </p>

  <form class="d-flex" role="search" style="display: flex;">
    <button class="btn btn-outline-success" type="button" (click)="openLoginModal()"> ENROLL NOW</button>
</form>

<!-- Modal -->
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'d-block': showModal}" style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Enroll as</h5>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body d-flex justify-content-between">
        <button class="btn btn-primary" (click)="loginAs('teacher')">Teacher</button>
        <div></div> <!-- Empty div for spacing -->
        <button class="btn btn-primary" (click)="loginAs('student')">Student</button>
    </div>    
    
    </div>
  </div>
</div>

</div>
</div>
<!---->
<div class="row align-items-md-stretch">
  <div class="col-md-6">
    <div class="h-100 p-5 text-bg-dark rounded-3"id="box-img">

    </div>
  </div>
  <div class="col-md-6">
    <div class="h-100 p-5 bg-body-tertiary border rounded-3">
      
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <h5 class="display-5 fw-bold">Expert Guidance and Support:</h5>
            <p class="col-md-8 fs-5">
              "Benefit from expert guidance and support throughout your exam preparation journey.
               Our team is here to help you succeed!"
            </p>
          </div>
          <div class="carousel-item">
            <h5 class="display-5 fw-bold">Comprehensive Study Resources:</h5>
            <p class="col-md-8 fs-5">
              "Access a wealth of comprehensive study resources, from textbooks to online materials, 
              empowering you to excel in your exam preparation."
            </p>
          </div>
          <div class="carousel-item">
            <h5 class="display-5 fw-bold">Realistic Exam Simulations:</h5>
            <p class="col-md-8 fs-5">
              "Prepare with confidence using realistic exam simulations. Practice under timed conditions 
              to master time management and boost your exam-day performance."
            </p>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
<!---->
    </div>
  </div>
</div>
<app-footer></app-footer>
